body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #large-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #333 url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
  }
  
  #demo-canvas {
    display: block;
  }
  
  .main-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f9f1e9;
    font-size: 4.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="text"] {
    padding: 12px;
    width: 300px; /* Largeur de la barre de recherche */
    font-size: 16px; /* Taille de la police */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Espacement entre la barre de recherche et le bouton */
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .barcode-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 20%;
    cursor: pointer;
}

.barcode-button:hover {
    background-color: #45a049;
}

.barcode-button:active {
    background-color: #3e8e41;
}



  
  #productInfo {
    margin-top: 20px;
  }
  
  